// https://getuikit.com/docs/sass

// Default primary color
$global-primary-background: #FF9800;

// Alert component
$default-primary-background: #1e87f0;
$alert-primary-background: lighten(mix(white, $default-primary-background, 40%), 20%);
$alert-primary-color: $default-primary-background;

// Offcanvas colors
$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: none;

// Anchor tag / Link color
$global-link-color: $global-primary-background;
$global-link-hover-color: $global-primary-background;

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";